---
networks:
  tailscale:
    driver: bridge

services:
  # https://docs.linuxserver.io/images/docker-transmission
  transmission:
    image: lscr.io/linuxserver/transmission:4.0.6
    restart: unless-stopped
    network_mode: "service:tailscale"
    # Don't work at all when Tailscale didn't start
    depends_on:
      tailscale:
        condition: service_healthy
    environment:
      PUID: "1000"
      PGID: "1000"
    volumes:
      - ${EXT_PATH}/torrent/transmission:/config
      - ${EXT_PATH}/media/torrents:/downloads

  # https://docs.linuxserver.io/images/docker-prowlarr/#usage
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.3.2-nightly
    restart: unless-stopped
    network_mode: "service:tailscale"
    depends_on:
      tailscale:
        condition: service_healthy
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "Europe/Berlin"
    volumes:
      - ${EXT_PATH}/torrent/prowlarr:/config

  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.16
    restart: unless-stopped
    network_mode: "service:tailscale"
    environment:
      PUID: "1000"
      PGID: "1000"
    volumes:
      - ${EXT_PATH}/torrent/sonarr:/config
      - ${EXT_PATH}/media:/media

  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4
    restart: unless-stopped
    network_mode: "service:tailscale"
    environment:
      PUID: "1000"
      PGID: "1000"
    volumes:
      - ${EXT_PATH}/torrent/radarr:/config
      - ${EXT_PATH}/media:/media

  tailscale:
    image: "ghcr.io/tailscale/tailscale:v1.92.4"
    restart: unless-stopped
    networks:
      - tailscale
    cap_add:
      - net_admin
      - net_raw
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 127.0.0.1:9091:9091 #transmission
      - 127.0.0.1:7878:7878 #radarr
      - 127.0.0.1:8989:8989 #sonarr
      - 127.0.0.1:9696:9696 # prowlarr
    environment:
      TS_HOSTNAME: ${TS_HOSTNAME}
      TS_STATE_DIR: /var/lib/tailscale
      TS_USERSPACE: false
      TS_AUTHKEY: ${TS_OAUTH_SECRET}
      TS_EXTRA_ARGS: "--advertise-tags=tag:${TS_TAG} --exit-node=${TS_EXIT_NODE_IP} --exit-node-allow-lan-access=true"
    volumes:
      - ts-state:/var/lib/tailscale
    healthcheck:
      test: ["CMD", "tailscale", "status"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

volumes:
  ts-state:
