---
x-config: &network_config
  network_mode: "service:tailscale"

services:
  prometheus:
    image: "prom/prometheus:{{ observability_prometheus_version }}"
    <<: *network_config
    volumes:
      - /home/observability/prometheus/data:/prometheus
      - /home/observability/prometheus/config:/etc/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-lifecycle'
      - '--enable-feature=memory-snapshot-on-shutdown'
      - '--enable-feature=auto-gomaxprocs'
      - '--enable-feature=native-histograms'
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:9090/-/healthy"]
      interval: 30s
      timeout: 10s
      retries: 3

  grafana:
    image: "grafana/grafana:{{ observability_grafana_version }}"
    <<: *network_config
    volumes:
      - /home/observability/grafana/data:/var/lib/grafana
    environment:
      GF_SECURITY_ADMIN_PASSWORD: "{{ grafana_admin_password }}"
      GF_ALERTING_ENABLED: false
      GF_UNIFIED_ALERTING_ENABLED: false
      GF_PANELS_DISABLE_SANITIZE_HTML: false
    restart: unless-stopped
    cpus: 1
    depends_on:
      - prometheus
  # Exporters
  docker_stats_exporter:
    image: wywywywy/docker_stats_exporter:latest
    <<: *network_config
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

  {% if observability_enable_adguard_exporter %}

  adguard_exporter:
    image: "ghcr.io/henrywhitaker3/adguard-exporter:latest"
    <<: *network_config
    environment:
      ADGUARD_SERVERS: "{{ observability_adguard_url }}"
      ADGUARD_USERNAMES: "{{ observability_adguard_username }}"
      ADGUARD_PASSWORDS: "{{ observability_adguard_password }}"
    restart: unless-stopped

  {% endif %}

  {% if observability_qingping_enabled %}

  qingping_exporter:
    image: ghcr.io/pedro-stanaka/qingping_exporter/exporter:v0.2.1
    <<: *network_config
    container_name: qingping_exporter
    environment:
      QINGPING_APP_KEY: {{ observability_qingping_api_key }}
      QINGPING_APP_SECRET: {{ observability_qingping_api_secret }}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:10803/-/healthy"]
      interval: 30s
      timeout: 10s
      retries: 3

  {% endif %}
