---
global:
  scrape_interval: 15s
  scrape_timeout: 14s

{% if observability_grafana_cloud_enable %}
remote_write:
  - url: {{ observability_grafana_cloud_url }}
    basic_auth:
      username: {{ observability_grafana_cloud_username }}
      password: {{ observability_grafana_cloud_password }}
    write_relabel_configs:
      - source_labels: [__name__]
        regex: 'adguard.*'
        action: drop
{% endif %}

runtime:
  gogc: 100

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'docker_stats_exporter'
    honor_labels: true
    static_configs:
      - targets: ['localhost:9487'] # Replace with the correct port if different

  - job_name: 'node_exporter'
    honor_labels: true
    static_configs:
      - targets: ['{{ docker_host_ip }}:9100'] # Use 'host.docker.internal' for Docker Desktop or the host's IP address

  - job_name: 'docker_runtime_metrics'
    static_configs:
      - targets: ['{{ docker_host_ip }}:9323']

  {% if observability_enable_adguard_exporter %}

  - job_name: "adguard_exporter"
    static_configs:
      - targets: [ 'localhost:9618' ]

  {% endif %}

  {% if observability_photoprism_monitoring_enabled %}

  - job_name: 'photoprism'
    metrics_path: "/api/v1/metrics"
    honor_labels: true
    oauth2:
      client_id: "{{ observability_photoprism_client_id }}"
      client_secret: "{{ observability_photoprism_client_secret }}"
      token_url: "http://{{ observability_photoprism_host }}:2342/api/v1/oauth/token"
      scopes: ["metrics"]
      endpoint_params:
        grant_type: "client_credentials"
    static_configs:
      - targets: ['{{ observability_photoprism_host }}:2342']

  {% endif %}


  {% if observability_qingping_enabled %}

  - job_name: 'qingping'
    scrape_interval: 30s
    scrape_timeout: 10s
    static_configs:
    - targets: ['localhost:10803']

  {% endif %}
