[Unit]
Description=Compose service for {{ service_name }}
After=docker.service network-online.target systemd-resolved.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker compose -p {{ service_name }}
{%- if tailscale is defined or backup is defined %}
    {%- if tailscale is defined and tailscale.enabled %}
    -f compose-{{ service_name }}-tailscale.yml
    {%- endif %}
    {%- if backup is defined and backup.enabled %}
    -f compose-{{ backup_name }}-backup.yml
    {%- endif %}
{%- endif %}
    -f compose-{{ service_name }}.yml up
ExecStop=/usr/bin/docker compose -p {{ service_name }}
{%- if tailscale is defined or backup is defined %}
    {%- if tailscale is defined and tailscale.enabled %}
    -f compose-{{ service_name }}-tailscale.yml
    {%- endif %}
    {%- if backup is defined and backup.enabled %}
    -f compose-{{ backup_name }}-backup.yml
    {%- endif %}
{%- endif %}
    -f compose-{{ service_name }}.yml down
WorkingDirectory=/home/{{ user }}
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
