networks:
  tailscale:
    driver: bridge

services:
  tailscale:
    image: "docker.io/tailscale/tailscale:v1.78.3"
    networks:
      - tailscale
    cap_add:
      - NET_ADMIN
      - NET_RAW
    environment:
      TS_STATE_DIR: /var/lib/tailscale
      TS_HOSTNAME: "{{ tailscale.hostname }}"
      TS_AUTHKEY: "{{ tailscale_authkey }}"
      TS_USERSPACE: false

      {% if tailscale.https is defined -%}
      TS_SERVE_CONFIG: /var/lib/tailscale-serve.json
      {% endif %}

      {% if tailscale.exit_node | default(false) -%}
      TS_EXTRA_ARGS: "--exit-node={{ tailscale_exit_node_ip }} --exit-node-allow-lan-access=true --ssh"
      {% else -%}
      TS_EXTRA_ARGS: --ssh
      {% endif %}

    {% if tailscale.ports is defined -%}
    ports:
      {% for port in tailscale.ports  -%}
      - {{ port }}
      {% endfor %}
    {% endif %}

    volumes:
      - /dev/net/tun:/dev/net/tun
      - /home/{{ user }}/tailscale/{{ service_name }}:/var/lib/tailscale
      {% if tailscale.https is defined -%}
      - /home/{{ user }}/tailscale-serve.json:/var/lib/tailscale-serve.json
      {% endif -%}
      {% for mount_point in tailscale.mounts | default([]) -%}
      - {{ mount_point }}
      {% endfor %}

