services:
  backup:
    image: docker.io/mcuadros/ofelia:0.3.16
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/autorestic/cron-{{ backup_name }}.ini:/etc/ofelia/config.ini
    command: daemon --config=etc/ofelia/config.ini
