# Syncthing
#
# Browser credentials to access syncthing credentials
# By default it's admin/admin
syncthing_http_user:
syncthing_http_password:

# Torrent
#
# Telegram bot token
torrent_telegram_token:
# Allowed chat ids
torrent_telegram_groups:
# OMDB token to use the /imdb command
torrent_telegram_omdb_token:

# NordVPN credentials
torrent_nordvpn_user: ""
torrent_nordvpn_password: ""

# By default it's admin/admin
torrent_transmission_user:
torrent_transmission_password:

# RSS containing the directories
torrent_flexget_rss: ""
# Name of the telegram that receives when a movie or TV show is ready to be watched
torrent_flexget_telegram_receiver: ""
