---
x-config: &network_config
  network_mode: "service:tailscale"

services:
  # https://docs.linuxserver.io/images/docker-transmission
  transmission:
    image: docker.io/linuxserver/transmission:4.0.6
    <<: *network_config
    restart: on-failure
    environment:
      PUID: "{{ user_id }}"
      PGID: "{{ torrent_user_gid_owner }}"
      USER: "{{ torrent_transmission_user }}"
      PASS: "{{ torrent_transmission_password }}"
    volumes:
      - /home/torrent/transmission/config:/config
      - /home/torrent/media/torrents:/downloads

  # # https://docs.linuxserver.io/images/docker-jackett
  jackett:
    image: docker.io/linuxserver/jackett:0.22.127
    <<: *network_config
    restart: on-failure
    environment:
      PUID: "{{ user_id }}"
      PGID: "{{ torrent_user_gid_owner }}"
    volumes:
      - /home/torrent/jackett:/config

{% if torrent_enable_sonaar %}
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    <<: *network_config
    container_name: sonarr
    environment:
      PUID: "{{ user_id }}"
      PGID: "{{ torrent_user_gid_owner }}"
      TZ: Europe/Berlin
    volumes:
      - /home/torrent/sonarr/data:/config
      - /home/torrent/media:/tv
      - /home/torrent/media/torrents:/downloads
    restart: unless-stopped
{% endif %}

{% if torrent_enable_radarr %}
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    <<: *network_config
    container_name: radarr
    environment:
      PUID: "{{ user_id }}"
      PGID: "{{ torrent_user_gid_owner }}"
      TZ: Europe/Berlin
    volumes:
      - /home/torrent/radarr/data:/config
      - /home/torrent/media:/movies
      - /home/torrent/media/torrents:/downloads
    restart: unless-stopped
{% endif %}

{% if torrent_enable_flexget %}
  # # https://hub.docker.com/r/wiserain/flexget
  flexget:
    image: docker.io/wiserain/flexget:3.11.36
    <<: *network_config
    restart: on-failure
    entrypoint: bash -c "apk add ffmpeg && /init"
    environment:
      PUID: "{{ user_id }}"
      PGID: "{{ torrent_user_gid_owner }}"
      TZ: "Europe/Berlin"
    volumes:
      # Same volume for torrents and final media
      # If you put as two different volumes, then Linux treats as two different FSes and moves the entire file
      - /home/torrent/media:/media
      - /home/torrent/flexget/config:/config
    # Throttle ffmpeg extracting subtitles
    cpu_count: 1
{% endif %}

{% if add_telegram_to_flexget %}
  telegram-bot:
    image: docker.io/gjhenrique/telegram-bot-torrents:v0.5.2
    <<: *network_config
    restart: on-failure
    environment:
      TRANSMISSION_TV_PATH: "/downloads/TV"
      TRANSMISSION_MOVIE_PATH: "/downloads/Movies"
      TRANSMISSION_URL: http://localhost:9091
      TRANSMISSION_CREDENTIALS: "{{ torrent_transmission_user }}:{{ torrent_transmission_password }}"
      JACKETT_DATA_DIR: /jackett/Jackett
      TELEGRAM_BOT_TOKEN: "{{ torrent_telegram_token }}"
    volumes:
      - /home/torrent/jackett:/jackett
{% endif %}
