---
x-config: &network_config
  network_mode: "service:tailscale"

services:
  # https://docs.linuxserver.io/images/docker-transmission
  transmission:
    image: "docker.io/linuxserver/transmission:4.0.6"
    <<: *network_config
    restart: on-failure
    environment:
      PUID: "{{ user_id }}"
      PGID: "{{ torrent_user_gid_owner }}"
      USER: "{{ torrent_transmission_username }}"
      PASS: "{{ torrent_transmission_password }}"
    volumes:
      - /home/torrent/transmission/config:/config
      - /home/torrent/media/torrents:/downloads
    healthcheck:
      test: ["CMD", "curl", "-Lfs", "--output=/dev/null", "http://{{ torrent_transmission_username }}:{{ torrent_transmission_password }}localhost:9091"]
      interval: 30s
      timeout: 10s
      retries: 5

  # # https://docs.linuxserver.io/images/docker-jackett
  jackett:
    image: "docker.io/linuxserver/jackett:0.22.2325"
    <<: *network_config
    restart: on-failure
    environment:
      PUID: "{{ user_id }}"
      PGID: "{{ torrent_user_gid_owner }}"
    volumes:
      - /home/torrent/jackett:/config
    healthcheck:
      test: ["CMD", "curl", "-Lfs", "http://localhost:9117"]
      interval: 1m
      timeout: 10s
      retries: 5

{% if torrent_enable_sonaar %}

  sonarr:
    image: "docker.io/linuxserver/sonarr:4.0.15"
    <<: *network_config
    container_name: sonarr
    environment:
      PUID: "{{ user_id }}"
      PGID: "{{ torrent_user_gid_owner }}"
      TZ: Europe/Berlin
    # TODO: move this to variables
    volumes:
      - /home/torrent/sonarr/data:/config
      - /home/torrent/media:/tv
      - /home/torrent/more_media:/more_media
      - /home/torrent/media/torrents:/downloads
    restart: unless-stopped
    depends_on:
      - transmission
      - jackett

{% endif %}

{% if torrent_enable_radarr %}

  radarr:
    image: "docker.io/linuxserver/radarr:5.27.5-nightly"
    <<: *network_config
    container_name: radarr
    environment:
      PUID: "{{ user_id }}"
      PGID: "{{ torrent_user_gid_owner }}"
      TZ: Europe/Berlin
    volumes:
      - /home/torrent/radarr/data:/config
      - /home/torrent/media:/movies
      - /home/torrent/more_media:/more_media
      - /home/torrent/media/torrents:/downloads
    restart: unless-stopped
    depends_on:
      - transmission
      - jackett

{% endif %}

{% if torrent_enable_kavita %}
  # https://docs.linuxserver.io/images/docker-kavita
  kavita:
      image: "docker.io/linuxserver/kavita:0.8.7"
      <<: *network_config
      restart: on-failure
      environment:
        PUID: "{{ user_id }}"
        PGID: "{{ torrent_user_gid_owner }}"
        TZ: "Europe/Berlin"
      volumes:
        - /home/torrent/kavita/config:/config
        - /home/torrent/media/Literature:/data
        - /home/torrent/media/torrents:/downloads
      depends_on:
        - transmission
        - jackett

{% endif %}
