# TODO: Variables from ansible
telegram:
  token: <token>
  group_name: <group_name>

rss:
  tv_url: <rss>

torrent:
  tv_path: "/home/torrent/media/TV"
  movie_path: "/home/torrent/media/Movies"
  tv_path: "/home/torrent/media/temp/TV"
  tv_path: "/home/torrent/media/temp/Movies"
  jacket_key: "{{ jackett_apikey }}"
  jacket_url: "localhost:9117"

sftp:
  host: "localhost"
  username: "guilherme"
  tv_path: "/home/guilherme/Videos/TV Shows"
