telegram:
  token: {{ torrent_telegram_token }}
  group_name: {{ torrent_flexget_telegram_receiver | default('') }}

rss:
  tv_url: {{ torrent_flexget_rss }}

torrent:
  torrent_tv_path: "/home/torrent/media/torrent/TV"
  tv_path: "/home/torrent/media/TV"
  torrent_movie_path: "/home/torrent/media/torrent/Movies"
  movie_path: "/home/torrent/media/Movies"

transmission:
  username: {{ torrent_transmission_user }}
  password: {{ torrent_transmission_password }}
