server {
  listen 9118 ssl;

  ssl_dhparam /etc/nginx/ssl/dhparam.pem;
  ssl_certificate /etc/nginx/ssl/transmission.pem;
  ssl_certificate_key /etc/nginx/ssl/transmission.key;
  ssl_trusted_certificate /etc/nginx/ssl/transmission.pem;

  access_log /var/log/nginx/jackett.access.log;
  error_log /var/log/nginx/jackett.error.log;

  location / {
    proxy_pass http://{{ torrent_cage_torrent_ip }}:9117;
  }
}
