[Unit]
Description=Run telegram-bot service
After=network.target

[Service]
User=torrent
ExecStart=/usr/bin/telegram-bot
Restart=on-failure
RestartSec=30
Environment="TELEGRAM_BOT_TOKEN={{ torrent_telegram_token }}"
Environment="FLEXGET_PATH=/home/torrent/flexget"
Environment="JACKETT_DATA_DIR=/home/torrent/.config/jackett"
{% if torrent_telegram_groups | default('') %}
Environment="TELEGRAM_ALLOWED_GROUPS={{ torrent_telegram_groups }}"
{% endif %}
{% if torrent_telegram_omdb_token | default('') %}
Environment="OMDB_TOKEN={{ torrent_telegram_omdb_token }}"
{% endif %}
Environment="TRANSMISSION_TV_PATH=/home/torrent/media/torrent/TV"
Environment="TRANSMISSION_MOVIE_PATH=/home/torrent/media/torrent/Movies"
Environment="TRANSMISSION_CREDENTIALS={{ torrent_transmission_user }}:{{ torrent_transmission_password }}"

[Install]
WantedBy=multi-user.target
