#!/usr/bin/env bash

# This script needs to be idempotent

set -x

(ip netns list | grep torrent) && ip netns delete torrent

umount /var/run/netns/torrent
rm -rf /var/run/netns/torrent

# Sometimes it takes a while to veth_host to disappear from host
ip link delete veth_host

exit 0
