[Unit]
Description=Transmission BitTorrent Daemon
After=network-online.target torrent-cage.service

[Service]
NetworkNamespacePath=/run/netns/torrent
User=torrent
Group=vpn
Type=notify
ExecStart=/usr/bin/transmission-daemon -f --log-debug --username {{ torrent_transmission_user }} --password {{ torrent_transmission_password }} --auth --rpc-bind-address={{ torrent_cage_torrent_ip }} --allowed="{{ torrent_cage_host_ip }},{{ torrent_cage_torrent_ip }},127.0.0.1"
ExecStop=/bin/kill -s STOP $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
