---
services:
  samba:
    image: ghcr.io/servercontainers/samba:smbd-only-latest
    ports:
      - 445:445
    environment:
      {% for user, values in share_users.items() -%}
      ACCOUNT_{{ user }}: {{ values.password }}
      UID_{{ user }}: {{ values.uid }}
      {% endfor %}


      {% for key, value in share_samba_volumes.items() -%}
      SAMBA_VOLUME_CONFIG_{{ key }}: "{{ value }}"
      {% endfor %}

    volumes:
      {% for volume in share_container_volumes -%}
      - {{ volume.host_path }}:{{ volume.container_path }}
      {% endfor %}

  photoprism:
    image: docker.io/photoprism/photoprism:preview-ubuntu
    ports:
      - "127.0.0.1:2342:2342"
    environment:
      PHOTOPRISM_ADMIN_USER: "{{ share_photoprism_user }}"
      PHOTOPRISM_ADMIN_PASSWORD: "{{ share_photoprism_password }}"
      PHOTOPRISM_AUTH_MODE: "password"
      PHOTOPRISM_SITE_URL: "https://files.{{ caddy_domain }}/"

      # Do not touch the samba files
      PHOTOPRISM_DISABLE_CHOWN: "true"
      PHOTOPRISM_READONLY: "true"
      # RPi is not powerful enough
      PHOTOPRISM_DISABLE_TENSORFLOW: "true"
      PHOTOPRISM_DISABLE_RAW: "true"

      {% if share_running_in_rpi and share_photoprism_sponsor -%}
      PHOTOPRISM_SPONSOR: "true"
      {% endif %}

      {% if share_running_in_rpi and share_photoprism_sponsor -%}
      PHOTOPRISM_FFMPEG_ENCODER: "raspberry"
      {% endif %}

    {% if share_running_in_rpi -%}
    devices:
     - "/dev/video11:/dev/video11" # Video4Linux Video Encode Device (h264_v4l2m2m)
    {% endif %}

    working_dir: "/photoprism"
    cpus: 2
    volumes:
      - "{{ share_photoprism_originals_directory }}:/photoprism/originals"
      - "/home/{{ share_user }}/photoprism/storage:/photoprism/storage"
