*.{{ caddy_domain }} {
	{% if caddy_enable_cert_verification %}
	tls {{ caddy_cert_email }} {
		{% if caddy_use_staging_ca %}
		ca https://acme-staging-v02.api.letsencrypt.org/directory
		{% endif %}

		dns cloudflare {{ caddy_cert_cloudflare_token }}
		resolvers 1.1.1.1
	}
	{% else %}
	tls internal
	{% endif %}

	import /etc/caddy/subdomains/*.caddy
}
