---
services:
  # https://hub.docker.com/r/slothcroissant/caddy-cloudflaredns
  caddy:
    image: slothcroissant/caddy-cloudflaredns:2.6.3
    network_mode: host
    volumes:
      - /home/caddy/etc/:/etc/caddy
      - /home/caddy/data:/data
      - /home/caddy/config:/config
