@{{ subdomain_name }} host {{ subdomain_name }}.{{ caddy_domain }}
handle @{{ subdomain_name }} {
  reverse_proxy http://{{ subdomain_host}}:{{ subdomain_port }} {
    {% if send_host_header is defined and send_host_header == true %}
    header_up Host {{ subdomain_host }}
    {% endif %}
  }

  {% if auth_user is defined %}
  basicauth /* {
    {{ auth_user | default('admin') }} {{ auth_password | default('admin') | password_hash("bcrypt") }}
  }
  {% endif %}
}
