[Unit]
Description=Flexget Daemon
After=network-online.target torrent-cage.service

[Service]
NetworkNamespacePath=/run/netns/torrent
BindPaths=/etc/netns/torrent/resolv.conf:/etc/resolv.conf
User=torrent
Group=vpn
Type=simple
WorkingDirectory=/home/torrent/flexget
ExecStart=/usr/local/bin/flexget daemon start
ExecStop=/usr/local/bin/flexget daemon stop
ExecReload=/usr/local/bin/flexget daemon reload

[Install]
WantedBy=multi-user.target
