[Unit]
Description=Run flexget tasks
After=network.target

[Service]
User=torrent
Type=oneshot
WorkingDirectory=/home/torrent/flexget
ExecStart=/usr/local/bin/flexget execute
