[Unit]
Description=Start torrent cage
After=network.target netfilter-persistent.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/usr/bin/torrent-cage-down
ExecStart=/usr/bin/torrent-cage-up
ExecStop=/usr/bin/torrent-cage-down

[Install]
WantedBy=multi-user.target
WantedBy=network-online.target
