---
services:
  adguard:
    image: adguard/adguardhome:v0.107.71
    restart: unless-stopped
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "127.0.0.1:8091:3000/tcp" #initial server
      - "127.0.0.1:8090:80/tcp"
      - "853:853/tcp"    # DNS-over-TLS
      - "784:784/udp"    # DNS-over-QUIC
    environment:
      - TZ=Europe/Berlin
    volumes:
      - ${EXT_PATH}/adguard/work:/opt/adguardhome/work
      - ${EXT_PATH}/adguard/conf:/opt/adguardhome/conf

  adguard-exporter:
    image: ghcr.io/henrywhitaker3/adguard-exporter:latest
    restart: unless-stopped
    ports:
      - "9618:9618"
    environment:
      - ADGUARD_SERVERS=http://adguard:80
      - ADGUARD_USERNAMES=${ADGUARD_USERNAME:-}
      - ADGUARD_PASSWORDS=${ADGUARD_PASSWORD:-}
      - PORT=9618
    labels:
      - "prometheus.io/scrape=true"
      - "prometheus.io/port=9618"
      - "prometheus.io/path=/metrics"
      - "prometheus.io/address=localhost:9618"
