---
services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:10.11.5
    restart: unless-stopped
    network_mode: "service:tailscale"
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "Europe/Berlin"
    volumes:
      - config:/config
      - cache:/cache
      - ${EXT_PATH}/media:/media
    devices:
      - /dev/dri:/dev/dri

volumes:
  cache:
  config:
