---
services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:10.11.6
    restart: unless-stopped
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "Europe/Berlin"
    ports:
      # not 127.0.0.1 intentionally. TV references IP directly
      - 8096:8096
    volumes:
      - config:/config
      - cache:/cache
      - ${EXT_PATH}/media:/media
    devices:
      - /dev/dri:/dev/dri

volumes:
  cache:
  config:
