{
	order authenticate before respond
	order authorize before basicauth

	security {
		oauth identity provider google {
			realm google
			driver google
			client_id {$GOOGLE_CLIENT_ID}.apps.googleusercontent.com
			client_secret {$GOOGLE_CLIENT_SECRET}
			scopes openid email profile
		}

		authentication portal myportal {
			crypto default token lifetime 3600
			crypto key sign-verify {$JWT_SHARED_KEY}
			enable identity provider google
			cookie domain {$DOMAIN}
			ui {
				links {
					"My Identity" "/whoami" icon "las la-user"
				}
			}

			transform user {
				match realm google
				regex match email {$ALLOWED_EMAILS}
				action add role authp/user

				ui link "Movies" https://movies.{$DOMAIN}/ icon "las la-film"
				ui link "TV" https://tv.{$DOMAIN}/ icon "las la-tv"
				ui link "Torrents" https://torrents.{$DOMAIN}/ icon "las la-skull-crossbones"
				ui link "Documents" https://docs.{$DOMAIN}/ icon "las la-folder-open"
				ui link "Photos" https://photos.{$DOMAIN}/ icon "las la-camera"
				ui link "Scans" https://scan.{$DOMAIN}/ icon "las la-print"
				ui link "Finances" https://actual.{$DOMAIN}/ icon "las la-wallet"
				ui link "DNS" https://dns.{$DOMAIN}/ icon "las la-network-wired"
				ui link "Backup" https://backup.{$DOMAIN}/ icon "las la-hdd"
			}
		}

		authorization policy mypolicy {
			set auth url https://auth.{$DOMAIN}/oauth2/google
			crypto key verify {$JWT_SHARED_KEY}
			allow roles authp/admin authp/user
			validate bearer header
			inject headers with claims
		}
	}
}

(cloudflare_tls) {
	tls {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}
}

# caddy-security
auth.{$DOMAIN} {
	import cloudflare_tls

	authenticate with myportal
}

actual.{$DOMAIN} {
	import cloudflare_tls

	authorize with mypolicy
	reverse_proxy 127.0.0.1:5006
}

# adguard
dns.{$DOMAIN} {
	import cloudflare_tls

	authorize with mypolicy
	reverse_proxy 127.0.0.1:8090
}

# paperless
docs.{$DOMAIN} {
	import cloudflare_tls

	authorize with mypolicy
	reverse_proxy 127.0.0.1:8000
}

# scanned paper
scan.{$DOMAIN} {
	import cloudflare_tls

	authorize with mypolicy
	reverse_proxy 127.0.0.1:8001
}

#arm
dvd.{$DOMAIN} {
	import cloudflare_tls

	authorize with mypolicy
	reverse_proxy 127.0.0.1:8888
}

#arm
backup.{$DOMAIN} {
	import cloudflare_tls

	authorize with mypolicy
	reverse_proxy 127.0.0.1:9898
}

# immich
photos.{$DOMAIN} {
	import cloudflare_tls

	# no authentication because of the mobile app
	# auth is handled by immich itself
	reverse_proxy 127.0.0.1:2283
}

# home-assistant
ha.{$DOMAIN} {
	import cloudflare_tls

	# no auth because of the mobile app
	# HA doesn't require too much security anyway
	reverse_proxy 127.0.0.1:8123
}


# Add <AuthenticationMethod>External</AuthenticationMethod> to radarr and sonarr config.xml
# sonarr
tv.{$DOMAIN} {
	import cloudflare_tls

	authorize with mypolicy
	reverse_proxy 127.0.0.1:8989
}

# radarr
movies.{$DOMAIN} {
	import cloudflare_tls

	authorize with mypolicy
	reverse_proxy 127.0.0.1:7878
}

# transmission
torrents.{$DOMAIN} {
	import cloudflare_tls

	authorize with mypolicy
	reverse_proxy 127.0.0.1:9091
}

# prowlarr
prowlarr.{$DOMAIN} {
	import cloudflare_tls

	authorize with mypolicy
	reverse_proxy 127.0.0.1:9696
}
