services:
  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - ${EXT_PATH}/documents/redis:/data

  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.20.3
    restart: unless-stopped
    depends_on:
      - broker
    volumes:
      - ${EXT_PATH}/documents/data:/usr/src/paperless/data
      - ${EXT_PATH}/documents/media:/usr/src/paperless/media
      - ${EXT_PATH}/documents/export:/usr/src/paperless/export
      - ${EXT_PATH}/documents/consume:/usr/src/paperless/consume
      - ${EXT_PATH}/documents/temporary:/temporary
    environment:
      PAPERLESS_URL: "${PAPERLESS_URL}"
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_OCR_LANGUAGES: "deu eng"
      PAPERLESS_ENABLE_HTTP_REMOTE_USER: true
      PAPERLESS_ENABLE_HTTP_REMOTE_USER_API: true
      PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME: HTTP_X_TOKEN_USER_NAME

  # paperless takes some minutes to index the scanned file
  # but sometimes I just want a document right away
  # serve it on a caddy server and delete older files on cleanup-old-documents service
  # a while true is not very scalable, but it will probably do the job
  # if not, ofelia FTW
  caddy:
    image: caddy:2.10.2
    restart: unless-stopped
    ports:
      - 127.0.0.1:8001:8080
    volumes:
      - ${EXT_PATH}/documents/temporary:/temporary
      - ${EXT_PATH}/documents/caddy_data:/data
      - ${EXT_PATH}/documents/caddy_config:/config
    command: caddy file-server --root /temporary --listen :8080 --browse

  cleanup-old-documents:
    image: alpine:latest
    restart: unless-stopped
    volumes:
      - ${EXT_PATH}/documents/temporary:/temporary
    entrypoint: /bin/sh
    command:
      - -c
      - |
        while true; do
          echo "[$(date '+%Y-%m-%d %H:%M:%S')] Starting cleanup of files older than 1 day..."
          find /temporary -type f -mmin +1440 -print -delete | while read file; do
            echo "  Deleted: $$file"
          done
          echo "[$(date '+%Y-%m-%d %H:%M:%S')] Cleanup complete. Sleeping for 24 hours..."
          sleep 86400
        done
