---
services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:10.9.11
    environment:
      PUID: 0
      PGID: 0
      TZ: "Europe/Berlin"
    volumes:
      - /home/{{ jellyfin_user }}/jellyfin:/config
      - /home/{{ jellyfin_user }}/media:/media
    network_mode: "service:tailscale"
    restart: unless-stopped
    # In case of transcoding, we don't wreak havoc the server
    cpus: 1
