---
services:
  arm:
    image: automaticrippingmachine/automatic-ripping-machine:2.21.0
    restart: unless-stopped
    ports:
      - "8888:8080"
    environment:
      ARM_UID: "1000"
      ARM_GID: "100"
    volumes:
      - ${EXT_PATH}/arm:/home/arm
      - ${EXT_PATH}/arm/music:/home/arm/music
      - ${EXT_PATH}/arm/logs:/home/arm/logs
      - ${EXT_PATH}/arm/media:/home/arm/media
      - ${EXT_PATH}/arm/config:/etc/arm/config
    devices:
      - /dev/sr0:/dev/sr0
      - /dev/sr1:/dev/sr1
      - /dev/sr2:/dev/sr2
      - /dev/sr3:/dev/sr3
      - /dev/sg1:/dev/sg1
      - /dev/sg0:/dev/sg0
    privileged: true
