---
services:
  arm:
    image: automaticrippingmachine/automatic-ripping-machine:2.21.0
    restart: unless-stopped
    ports:
      - "8888:8080"
    environment:
      ARM_UID: "1000"
      ARM_GID: "1000"
    volumes:
      # HACK: required "sudo chown -R 1000:100 /mnt/external/media/arm"
      - ${EXT_PATH}/media/arm:/Home/arm
      - ${EXT_PATH}/media/arm/music:/home/arm/music
      - ${EXT_PATH}/media/arm/logs:/home/arm/logs
      - ${EXT_PATH}/media/arm/media:/home/arm/media
      - ${EXT_PATH}/media/arm/config:/etc/arm/config
      - ./arm.yaml:/etc/arm/config/arm.yaml
    devices:
      - /dev/sr0:/dev/sr0
      - /dev/sr1:/dev/sr1
      - /dev/sr2:/dev/sr2
      - /dev/sr3:/dev/sr3
      - /dev/sg1:/dev/sg1
      - /dev/sg0:/dev/sg0
    privileged: true
