---
services:
  # https://docs.linuxserver.io/images/docker-syncthing
  syncthing:
    image: lscr.io/linuxserver/syncthing:2.0.8
    network_mode: "service:tailscale"
    environment:
      PUID: 0
      PGID: 0
    volumes:
      - /home/syncthing/config:/config
      - /home/syncthing/data:/data
