---
services:
  emby:
    image: lscr.io/linuxserver/emby:{{ emby_version }}
    network_mode: "service:tailscale"
    environment:
      PUID: {{ emby_user_id }}
      PGID: {{ emby_group_id }}
      TZ: "Europe/Berlin"
    volumes:
      - /home/{{ emby_user }}/emby:/config
      - /home/{{ emby_user }}/media:/media
{% for host_path, container_path in emby_extra_mounts.items() %}
      - {{ host_path }}:{{ container_path }}
{% endfor %}
    restart: unless-stopped
    # Avoid transcoding to wreak havoc the server
    cpus: 2
