---
services:
  emby:
    image: lscr.io/linuxserver/emby:version-4.7.11.0
    network_mode: "service:tailscale"
    environment:
      PUID: {{ emby_user_id }}
      PGID: {{ emby_group_id }}
      TZ: "Europe/Berlin"
    volumes:
      - /home/{{ emby_user }}/emby:/config
      - /home/{{ emby_user }}/media:/media
    restart: unless-stopped
    # Avoid transcoding to wreak havoc the server
    cpus: 2
