---
services:
  emby:
    image: lscr.io/linuxserver/emby:4.8.10
    environment:
      PUID: 0
      PGID: 0
      TZ: "Europe/Berlin"
    volumes:
      - /home/{{ emby_user }}/emby:/config
      - /home/{{ emby_user }}/media:/media
    ports:
      - 8097:8096
      - 8921:8920
      - 7360:7359/udp
      - 1901:1900/udp
    restart: unless-stopped
    cpus: 1
